<script>
	import auth from './auth-store.js'

	export let role = 'USER'
	export let showAccessDeniedMessage = false

	function hasRole() {
		return (
			$auth &&
			$auth.authorities &&
			$auth.authorities.length &&
			$auth.authorities.includes('ROLE_' + role)
		)
	}
</script>

<div>
	{#if hasRole()}
		<slot />
	{:else if showAccessDeniedMessage}
		<div class="text-red-300 text-xl text-center mt-4">
			User is not authorized to access the page
		</div>
	{/if}
</div>
