/node_modules
coverage
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.project
test/temp/
docs
*debug.log*
.vscode
.DS_Store
.jhipster
client_id
/generators/client/templates/svelte/node_modules/
/generators/client/templates/svelte/package-lock.json
