<script>
	import notification from './notification-store'
	import Toast from './Toast.svelte'
	import { fly } from 'svelte/transition'
</script>

<div class="relative flex justify-center" transition:fly="{{ y: -10 }}">
	{#each $notification as notification, index (notification)}
		<Toast
			message="{notification.message}"
			type="{notification.type}"
			index="{index}"
		/>
	{/each}
</div>
