<script>
	import { onMount } from 'svelte'

	import Alert from '../Alert.svelte'
	import notification from './notification-store'

	export let message
	export let type
	export let index
	export let timeout = 5000

	onMount(() => {
		const ref = setTimeout(() => {
			notification.remove(message, index)
		}, timeout)

		return () => clearTimeout(ref)
	})
</script>

<div class="absolute w-1/2 z-20">
	<Alert testId="toast" show="{true}" type="{type}">{message}</Alert>
</div>
