<script>
	import { createEventDispatcher } from 'svelte'
	import { faToggleOn, faToggleOff } from '@fortawesome/free-solid-svg-icons'
	import { Button, Icon } from 'jhipster-svelte-library'
	import { TableRowActions } from 'jhipster-svelte-library/table'

	export let user
	export let currentUser
	export let showActions = false
	const dispatch = createEventDispatcher()

	$: activationIcon = user.activated ? faToggleOn : faToggleOff
	$: activationIconTitle = user.activated
		? 'Deactivate user'
		: 'Activate user'
	$: isUserSameAsCurrentUser = user.login === currentUser
</script>

<TableRowActions
	id="{user.login}"
	visible="{showActions}"
	disableStateChangeActions="{isUserSameAsCurrentUser}"
	on:view
	on:update
	on:delete
>
	<Button
		name="toggleUserAcctBtn"
		contextualColor="light"
		size="small"
		classes="sm:my-0"
		title="{activationIconTitle}"
		disabled="{isUserSameAsCurrentUser}"
		aria-label="toggleActivation"
		on:click="{() => {
			dispatch('toggleuseraccount', {
				...user,
				activated: !user.activated,
			})
		}}"
	>
		<Icon icon="{activationIcon}" />
	</Button>
</TableRowActions>
