<script>
	import { dev } from '$app/env'

	export let status
	export let error
</script>

<svelte:head>
	<title>{status}</title>
</svelte:head>
<h1>{status}</h1>

<p>{error.message}</p>

{#if dev && error.stack}
	<pre>{error.stack}</pre>
{/if}
