<script>
	export let show = false
	export let type = 'success'
	export let closeable = true

	function closeAlert() {
		show = false
	}
</script>

<div
	class:hidden="{!show}"
	class:bg-green-200="{type === 'success'}"
	class:text-green-900="{type === 'success'}"
	class:bg-red-200="{type === 'danger'}"
	class:text-red-900="{type === 'danger'}"
	class:bg-orange-200="{type === 'warning'}"
	class:text-orange-900="{type === 'warning'}"
	class="px-7 py-3 mt-4 flex justify-between rounded text-sm"
>
	<div>
		<slot />
	</div>
	{#if closeable}
		<button
			class:hover:text-red-700="{type === 'danger'}"
			class="self-start text-xl leading-4 bg-transparent border-0
				focus:outline-none"
			on:click="{closeAlert}"
		>&times</button>
	{/if}
</div>
