<script>
	import { faSearch } from '@fortawesome/free-solid-svg-icons/faSearch'

	import Icon from './Icon.svelte'

	export let value = ''
	export let label
	export let placeholder = ''
	export let name
	export let id

	let focused = false
	const idVal = id ? id : name + Date.now()

	$: focusedOrContainsValue = value !== '' || focused
</script>

<div class="relative h-12">
	<label
		aria-label="{label}"
		class="absolute left-0 px-4 py-3 pointer-events-none"
		class:text-gray-500="{!focused}"
		class:dark:text-gray-700="{!focused}"
		class:text-primary-700="{focused}"
		class:dark:text-primary-500="{focused}"
		for="{idVal}"><Icon classes="mr-2" icon="{faSearch}" /></label
	>
	<input
		class="pl-10 pr-3 py-3 w-full shadow-none bg-white dark:bg-gray-800 outline-none focus:ring-0 shadow-md rounded-2xl"
		class:border="{!focused}"
		class:border-2="{focused}"
		class:border-gray-400="{!focused}"
		class:dark:border-gray-700="{!focused}"
		class:border-primary-700="{focused}"
		class:dark:border-primary-400="{focused}"
		type="text"
		name="{name}"
		id="{idVal}"
		value="{value}"
		placeholder="{placeholder}"
		on:input
		on:focus="{() => (focused = true)}"
		on:blur="{() => (focused = false)}"
		{...$$restProps}
	/>
</div>
