<script>
	import Icon from 'fa-svelte'
	import { goto } from '@sapper/app'
	import { faSignOutAlt } from '@fortawesome/free-solid-svg-icons/faSignOutAlt'
	import { faCaretDown } from '@fortawesome/free-solid-svg-icons/faCaretDown'
	import { faUser } from '@fortawesome/free-solid-svg-icons/faUser'

	import auth from '../auth/auth-store.js'
	import authService from './../auth/auth-service.js'

	let isOpen = false

	function logout() {
		authService
			.logout()
			.then(() => {
				auth.logout()
				return auth.loadUser()
			})
			.then(() => goto('/'))
			.catch()
	}
</script>

<div class="px-2 pt-2 pb-4 sm:p-0 relative sm:flex sm:mr-2">
	<div
		class="px-2 py-1 sm:py-0 flex justify-start items-center rounded
			sm:rounded-none font-semibold hover:text-white hover:bg-gray-700
			sm:hover:bg-transparent focus:outline-none"
	>
		<button
			on:click="{() => (isOpen = !isOpen)}"
			class="sm:z-10 sm:h-8 sm:w-8 sm:flex sm:justify-center
				sm:items-center sm:rounded-full sm:overflow-hidden border-0
				sm:border-2 sm:border-gray-600 text-gray-500 focus:text-white
				focus:outline-none focus:border-white"
		>
			<Icon class="fa-icon" icon="{faUser}" />
			<span class="sm:hidden">{$auth.login}</span>
			<span class="sm:absolute sm:ml-12">
				<Icon class="fa-icon" icon="{faCaretDown}" />
			</span>
		</button>
	</div>
	{#if isOpen}
		<button
			tabindex="-1"
			on:click="{() => (isOpen = false)}"
			class="fixed hidden sm:block inset-0 w-full h-full bg-gray-400
				opacity-50 cursor-default"
		></button>
	{/if}
	<div
		class:hidden="{!isOpen}"
		class="sm:absolute sm:right-0 sm:mt-10 sm:w-40 py-2 sm:bg-white rounded
			sm:rounded-lg sm:shadow-lg"
	>
		<a
			class="block px-2 sm:px-4 py-1 rounded sm:rounded-none font-semibold
				sm:font-normal text-gray-500 hover:text-white hover:bg-gray-700
				sm:text-gray-800 sm:hover:bg-indigo-500"
			href="/"
			on:click="{logout}"
		><Icon class="fa-icon sm:mr-1" icon="{faSignOutAlt}" />
			Sign out</a>
	</div>
</div>
