<script>
	import { createEventDispatcher } from 'svelte'

	import Form from '../../page/Form.svelte'
	import SearchControl from '../../SearchControl.svelte'

	let filter = ''
	const dispatch = createEventDispatcher()

	function filterLoggers(event) {
		filter = event.target.value
		dispatch('filterloggers', {
			filter,
		})
	}
</script>

<Form testId="loggerFilter">
	<SearchControl
		label="Filter loggers"
		name="logger"
		value="{filter}"
		placeholder="Filter loggers"
		on:input="{filterLoggers}"
	/>
</Form>
