<script>
	import { onMount } from 'svelte'
	import { page } from '$app/stores'
	import { goto } from '$app/navigation'
	import { faArrowLeft } from '@fortawesome/free-solid-svg-icons'
	import { Button, Icon } from 'jhipster-svelte-library'
	import { Page, Record } from 'jhipster-svelte-library/page'
	import { formatDate } from 'jhipster-svelte-library/utils'

	import userService from '$lib/admin/user-management/user-service'

	$: id = $page && $page.params && $page.params.id
	onMount(() => fetchUserDetails())

	let error
	let user

	function fetchUserDetails() {
		error = undefined
		userService
			.fetchUserByLogin(id)
			.then(res => (user = res))
			.catch(err => (error = err))
	}
</script>

<svelte:head>
	<title>User Details</title>
	<meta name="Description" content="User details" />
</svelte:head>
<Page testId="userMgmt" width="full">
	<div class="text-left" slot="header">
		User Details {user ? '[ ' + user.login + ' ]' : ''}
	</div>
	{#if user}
		<div class="mt-4 table table-auto w-full">
			<Record classes="border-t">
				<span slot="label">Login</span>
				<span>{user.login}</span>
			</Record>
			<Record>
				<span slot="label">First Name</span>
				<span>{user.firstName}</span>
			</Record>
			<Record>
				<span slot="label">Last Name</span>
				<span>{user.lastName}</span>
			</Record>
			<Record>
				<span slot="label">Email</span>
				<span>{user.email}</span>
			</Record>
			<Record>
				<span slot="label">Created By</span>
				<span>{user.createdBy}</span>
			</Record>
			<Record>
				<span slot="label">Creation Date</span>
				<span>{formatDate(user.createdDate)}</span>
			</Record>
			<Record>
				<span slot="label">Modified By</span>
				<span>{user.lastModifiedBy}</span>
			</Record>
			<Record>
				<span slot="label">Modification Date</span>
				<span>{formatDate(user.lastModifiedDate)}</span>
			</Record>
			<Record>
				<span slot="label">Roles</span>
                <span class="uppercase">{user.authorities ? user.authorities.join(', ') : ''}</span>
			</Record>
		</div>
	{/if}
	<div class="flex mt-4 flex-row justify-center items-center leading-none">
		<Button
			name="backBtn"
			on:click="{() => goto(`/admin/user-management`)}"
		>
			<Icon classes="mr-2" icon="{faArrowLeft}" />
			Back
		</Button>
	</div>
</Page>
