<script>
	import { stores } from '@sapper/app'

	import accountService from './../../../components/account/account-service'
	import Alert from './../../../components/Alert.svelte'
	import PasswordConfirm from './../../../components/account/PasswordConfirm.svelte'

	let error
	let password
	let validPassword = false
	let passwordReset = false

	const { page } = stores()

	$: passwordResetKey = $page && $page.query && $page.query.key

	function resetPassword() {
		error = undefined
		passwordReset = false
		accountService
			.resetAccountPassword(passwordResetKey, password)
			.then(() => (passwordReset = true))
			.catch(err => (password = '', error = err))
	}
</script>

<svelte:head>
	<title>Reset your password</title>
</svelte:head>

<section class="m-3 relative bg-white shadow-md rounded p-4">
	<div class="p-4 w-full sm:max-w-3xl sm:mx-auto">
		<div class="px-4 w-full text-4xl text-center">Reset your password</div>
		<Alert show="{passwordReset}" closeable="{false}">
			Your password has been reset. Please <a class="font-semibold underline" href="/login">Sign in</a>.
		</Alert>
		<Alert type="warning" show="{ passwordResetKey && !passwordReset && !error}" closeable="{false}">
			Choose a new password
		</Alert>
		<Alert type="danger" show="{ !passwordResetKey || error}" closeable="{false}">
			{#if !passwordResetKey}
			The password reset key is missing.
			{:else}
			Your password couldn't be reset. Remember a password request is only valid for 24 hours.
			{/if}
		</Alert>
		{#if passwordResetKey && !passwordReset}
			<form class="mt-4 flex flex-col">
				<PasswordConfirm
					label="New Password"
					value="{password}"
					on:input="{event => (password = event.detail.value)}"
					on:validate="{event => (validPassword = event.detail.valid)}"
				/>
				<button
					type="submit"
					on:click|preventDefault="{resetPassword}"
					class="my-4 w-64 m-auto btn btn-primary"
					disabled="{!validPassword}"
				>Reset password</button>
			</form>
		{/if}
	</div>
</section>
