<script>
	import Button from 'jhipster-svelte-library/button.svelte'
	import Form from 'jhipster-svelte-library/page/form.svelte'
	import PasswordConfirm from '$lib/account/password-confirm.svelte'

	export let password = ''
	let validPassword = false
</script>

<Form testId="resetPwdForm">
	<PasswordConfirm
		label="New Password"
		value="{password}"
		on:input="{event => (password = event.detail.value)}"
		on:validate="{event => (validPassword = event.detail.valid)}"
	/>
	<Button type="submit" on:click disabled="{!validPassword}">
		Reset password
	</Button>
</Form>
