<script>
	import accountService from '$lib/account/account-service'
	import { Alert } from 'jhipster-svelte-library'
	import { Page } from 'jhipster-svelte-library/page'

	import ChangePasswordForm from '$lib/account/change-password-form.svelte'

	let error
	let currentPassword
	let newPassword
	let passwordChanged = false

	function changePassword() {
		error = undefined
		passwordChanged = false
		accountService
			.changeAccountPassword(currentPassword, newPassword)
			.then(() => (passwordChanged = true))
			.catch(err => ((currentPassword = ''), (error = err)))
	}
</script>

<svelte:head>
	<title>Change password</title>
	<meta name="Description" content="Change password" />
</svelte:head>

<Page testId="password">
	<span slot="header">Change password</span>
	<svelte:fragment slot="alerts">
		<Alert
			data-testid="successMsg"
			show="{passwordChanged}"
			closeable="{false}">Password changed!</Alert
		>
		<Alert
			data-testid="errorMsg"
			contextualColor="danger"
			show="{error}"
			closeable="{false}"
			>An error has occurred! The password could not be changed.</Alert
		>
	</svelte:fragment>
	<ChangePasswordForm
		bind:currentPassword
		bind:newPassword
		on:click="{changePassword}"
	/>
</Page>
