<script>
	import accountService from './../../components/account/account-service'
	import Alert from './../../components/Alert.svelte'
	import InputControl from '../../components/InputControl.svelte'

	let error
	let email
	let validEmail
	let passwordReset = false

	function resetPassword() {
		error = undefined
		passwordReset = false
		accountService
			.resetAccountPassword(email)
			.then(() => (passwordReset = true))
			.catch(err => (error = err))
	}
</script>

<svelte:head>
	<title>Reset your password</title>
</svelte:head>

<section class="m-3 relative bg-white shadow-md rounded p-4">
	<div class="p-4 w-full sm:max-w-3xl sm:mx-auto">
		<div class="px-4 w-full text-4xl text-center">
			Reset your password
		</div>
		<Alert show="{passwordReset}" closeable="{false}">
			Check your email for details on how to reset your password.
		</Alert>
		<Alert type="warning" show="{!passwordReset}" closeable="{false}">
			Enter your user account's verified email address.
		</Alert>
		{#if !passwordReset}
			<form class="mt-4 flex flex-col">
				<InputControl
					type="email"
					label="Email"
					name="email"
					value="{email}"
					on:input="{event => (email = event.target.value)}"
					required
					validations="{[{ type: 'required', message: 'Email is mandatory' }, { type: 'minlength', minlength: 5, message: 'Email is required to be at least 5 characters' }, { type: 'maxlength', maxlength: 254, message: 'Email cannot be longer than 254 characters' }, { type: 'pattern', pattern: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/, message: 'Email address is not valid' }]}"
					on:validate="{event => (validEmail = event.detail.valid)}"
				/>
				<button
					type="submit"
					on:click|preventDefault="{resetPassword}"
					class="my-4 w-64 m-auto btn btn-primary"
					disabled="{!validEmail}"
				>Send password reset email</button>
			</form>
		{/if}
	</div>
</section>
