<script>
	import PageHeader from './PageHeader.svelte'

	export let testId = ''
	export let width = ''

	$: widthClass = width !== 'full' ? 'sm:max-w-3xl sm:mx-auto' : ''
</script>

<section
	class="m-3 relative bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 transition-colors duration-200 shadow-md rounded p-4"
>
	<div class="py-4 w-full overflow-x-auto {widthClass}">
		{#if $$slots.header}
			<PageHeader testId="{testId}">
				<slot name="header" />
			</PageHeader>
		{/if}
		{#if $$slots.alerts}
			<slot name="alerts" />
		{/if}
		<slot />
	</div>
</section>
