<script>
	export let classes = ''
</script>

<div class="sm:w-full table-row ">
	<span
		class="sm:w-1/5 table-cell pr-8 py-2 border-b border-r border-gray-200 dark:border-gray-700 dark:text-gray-400 text-right {classes}"
		><slot name="label" /></span
	>
	<span
		class="sm:w-4/5 pl-6 py-2 border-b border-gray-200 dark:border-gray-700 table-cell font-semibold {classes}"
	>
		<slot />
	</span>
</div>
