<script>
<%_ if (authenticationType !== 'oauth2') { _%>
	import { page } from '$app/stores'
<%_ } _%>
	import { browser } from '$app/environment'

	import AuthGuard from '$lib/auth/auth-guard.svelte'
	import Footer from '$lib/layout/footer.svelte'
	import Navbar from '$lib/layout/navbar.svelte'
	import { Notification } from 'jhipster-svelte-library/notification'

	import auth from '$lib/auth/auth-store'
	import '../global.css'
	import '../tailwind.css'

	function loadUserDetails() {
		return (browser && auth.loadUserIfAuthenticated()) || Promise.resolve()
	}
<%_ if (authenticationType !== 'oauth2') { _%>

	$: isLoginRouteActivated = $page && $page.url && $page.url.pathname === '/login'
<%_ } _%>
</script>

{#await loadUserDetails() then response}
	<div
		class="flex flex-col text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-900 antialiased min-h-screen font-sans"
	>
		<div class="z-10"<% if (authenticationType !== 'oauth2') { %> class:hidden="{isLoginRouteActivated}"<% } %>>
			<Navbar />
		</div>
		<Notification />
		<main class="flex-grow">
			<AuthGuard>
				<slot />
			</AuthGuard>
		</main>
		<div<% if (authenticationType !== 'oauth2') { %> class:hidden="{isLoginRouteActivated}"<% } %>>
			<Footer />
		</div>
	</div>
{/await}
