<script>
	import UserListActions from './UserListActions.svelte'
	import Sort from '../../table/Sort.svelte'
	import Table from '../../table/Table.svelte'
	import TableData from '../../table/TableData.svelte'
	import TableHeader from '../../table/TableHeader.svelte'
	import TableRow from '../../table/TableRow.svelte'
	import { formatDate } from '../../../utils/date'
	
	export let users = []
	export let currentUser = null
	let sortPredicate = 'id'
</script>

<Table testId="userMgmt">
	<thead slot="head">
		<TableRow classes="bg-gray-100">
			<TableHeader>
				<span>ID</span>
				<Sort
					active="{sortPredicate === 'id'}"
					sortPredicate="id"
					on:sortbypredicate
				/>
			</TableHeader>
			<TableHeader>
				<span>Login</span>
				<Sort
					active="{sortPredicate === 'login'}"
					sortPredicate="login"
					on:sortbypredicate
				/>
			</TableHeader>
			<TableHeader>
				<span>Email</span>
				<Sort
					active="{sortPredicate === 'email'}"
					sortPredicate="email"
					on:sortbypredicate
				/>
			</TableHeader>
			<TableHeader>Roles</TableHeader>
			<TableHeader>Created At</TableHeader>
			<TableHeader>
				<span>Last Modified By</span>
				<Sort
					active="{sortPredicate === 'lastModifiedBy'}"
					sortPredicate="lastModifiedBy"
					on:sortbypredicate
				/>
			</TableHeader>
			<TableHeader>Last Modified At</TableHeader>
		</TableRow>
	</thead>
	<tbody>
		{#each users as user (user.id)}
			<TableRow let:showActions>
				<TableData
					classes="{!user.activated ? 'border-l-4 border-red-300' : ''}"
				>
					{user.id}
				</TableData>
				<TableData>{user.login}</TableData>
				<TableData>{user.email}</TableData>
				<TableData>
					{#each user.authorities as authority, authIndex (authority)}
						<span class="uppercase">{authority}
							{authIndex !== user.authorities.length - 1 ? ', ' : ''}</span>
					{/each}
				</TableData>
				<TableData>{formatDate(user.createdDate)}</TableData>
				<TableData>{user.lastModifiedBy}</TableData>
				<TableData
					classes="w-48 min-w-min {showActions ? 'sm:py-0' : ''}"
				>
					<div class:hidden="{showActions}">
						{formatDate(user.lastModifiedDate)}
					</div>
					<UserListActions
						currentUser="{currentUser.login}"
						user="{user}"
						showActions="{showActions}"
						on:toggleuseraccount
					/>
				</TableData>
			</TableRow>
		{/each}
	</tbody>
</Table>
