<svg
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:cc="http://creativecommons.org/ns#"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:svg="http://www.w3.org/2000/svg"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
	xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
	viewBox="0 0 394.04 82.48"
	version="1.1"
	id="svg28"
	sodipodi:docname="JHipster CMJN.svg"
	inkscape:version="0.92.4 5da689c313, 2019-01-14"
>
	<metadata id="metadata32">
		<rdf:RDF>
			<cc:Work rdf:about="">
				<dc:format>image/svg+xml</dc:format>
				<dc:type
					rdf:resource="http://purl.org/dc/dcmitype/StillImage"
				></dc:type>
			</cc:Work>
		</rdf:RDF>
	</metadata>
	<sodipodi:namedview
		pagecolor="#ffffff"
		bordercolor="#666666"
		borderopacity="1"
		objecttolerance="10"
		gridtolerance="10"
		guidetolerance="10"
		inkscape:pageopacity="0"
		inkscape:pageshadow="2"
		inkscape:window-width="2560"
		inkscape:window-height="1380"
		id="namedview30"
		showgrid="false"
		inkscape:zoom="0.87808342"
		inkscape:cx="197.02"
		inkscape:cy="41.240002"
		inkscape:window-x="0"
		inkscape:window-y="23"
		inkscape:window-maximized="1"
		inkscape:current-layer="svg28"
	></sodipodi:namedview>
	<defs id="defs4">
		<style id="style2">
			.a {
				fill: #343333;
			}
			.b {
				fill: #3474ab;
			}
			.c {
				fill: #4289c7;
			}
		</style>
	</defs>
	<title id="title6">JHipster CMJN</title>
	<g id="g4568">
		<g id="g4550">
			<path
				class="a"
				d="M141.86,66.91a23.86,23.86,0,0,1,1.54-8.22,30.52,30.52,0,0,1,4.37-7.94,33.33,33.33,0,0,1,6.83-6.68,30,30,0,0,1,8.92-4.46,54.52,54.52,0,0,1-4.74-4.32,35.18,35.18,0,0,1-3.85-4.64,23.24,23.24,0,0,1-2.58-4.77,13,13,0,0,1-.94-4.79,24.17,24.17,0,0,1,.67-5.79,23.72,23.72,0,0,1,1.85-5.08A20.74,20.74,0,0,1,156.72,6a19.3,19.3,0,0,1,3.46-3.22,15.11,15.11,0,0,1,3.86-2,11.92,11.92,0,0,1,4-.72,10.65,10.65,0,0,1,5.18,1.37,12.75,12.75,0,0,1,4.43,4.36,25.13,25.13,0,0,1,3.1,7.72A48.57,48.57,0,0,1,182,24.91q0,4.86-.34,9.23t-1,8.37c1.21.75,2.44,1.49,3.69,2.2s2.5,1.44,3.77,2.15l1,.57c.39.22.76.45,1.13.7a7,7,0,0,1,.94.75,1,1,0,0,1,.39.67.91.91,0,0,1-.25.58,4,4,0,0,1-.6.54,6.49,6.49,0,0,1-.69.43l-.52.27a2.78,2.78,0,0,1-1.31.26,15.78,15.78,0,0,1-3.92-.65,40.62,40.62,0,0,1-4.91-1.76,71.94,71.94,0,0,1-3.15,10.1,57.6,57.6,0,0,1-4,8.21,40.35,40.35,0,0,1-4.61,6.34,31,31,0,0,1-4.92,4.49,20.5,20.5,0,0,1-5,2.69,14,14,0,0,1-4.73.89,10.15,10.15,0,0,1-4.37-1,9.8,9.8,0,0,1-3.5-2.85,14.19,14.19,0,0,1-2.35-4.7A22.83,22.83,0,0,1,141.86,66.91Zm7.64,1.91a7.57,7.57,0,0,0,1.18,4.61A3.71,3.71,0,0,0,153.8,75a8.11,8.11,0,0,0,4.45-1.73,20.93,20.93,0,0,0,5-5.35A48.85,48.85,0,0,0,168,58.7a74.91,74.91,0,0,0,3.86-13.27l-1.1-.69a20.54,20.54,0,0,0-5.8,2.08,28.52,28.52,0,0,0-5.13,3.5,30.56,30.56,0,0,0-4.28,4.46,34.89,34.89,0,0,0-3.27,4.91,25.73,25.73,0,0,0-2.09,4.85A14.55,14.55,0,0,0,149.5,68.82Zm9.55-49.64a11.53,11.53,0,0,0,1,4.74A21,21,0,0,0,163,28.59a38.35,38.35,0,0,0,4.48,4.58q2.59,2.27,5.72,4.48.51-4.15.81-8.73t.3-9.74a33.31,33.31,0,0,0-.45-5.95,14.93,14.93,0,0,0-1.21-4,5.35,5.35,0,0,0-1.79-2.2,3.92,3.92,0,0,0-2.16-.67,5.18,5.18,0,0,0-2.24.54,9.55,9.55,0,0,0-2.2,1.48,13.82,13.82,0,0,0-2,2.19,15.9,15.9,0,0,0-1.66,2.67,16.43,16.43,0,0,0-1.12,2.92A11.07,11.07,0,0,0,159.05,19.18Z"
				id="path8"
			></path>
			<path
				class="a"
				d="M236.54,36.9q-1,3.68-1.67,6.84a29,29,0,0,0-.63,5.51,5.24,5.24,0,0,0,.86,3.18,3.26,3.26,0,0,0,2.81,1.14,4.75,4.75,0,0,0,1.79-.43,13,13,0,0,0,2.39-1.36,33.47,33.47,0,0,0,3-2.38q1.65-1.47,3.68-3.49c.06.12.18.4.36.83s.38.95.67,1.72.69,1.81,1.21,3.14a42.51,42.51,0,0,1-4.49,4.15,34.36,34.36,0,0,1-4.39,3,21.66,21.66,0,0,1-4.08,1.82,12,12,0,0,1-3.6.61,8.64,8.64,0,0,1-3.49-.7,8,8,0,0,1-2.79-2,10.14,10.14,0,0,1-1.86-3.3,13.35,13.35,0,0,1-.68-4.46,16.38,16.38,0,0,1,.17-2.18c.12-.87.3-1.87.53-3s.5-2.33.83-3.65.69-2.72,1.09-4.2l-7.67.78-7.3.69q-.84,2.51-1.66,4.9c-.55,1.6-1.07,3.11-1.58,4.51s-1,2.68-1.4,3.85l-1.09,3a15.18,15.18,0,0,1-2.85,4.48,3.94,3.94,0,0,1-2.49,1.31,4.16,4.16,0,0,1-1.4-.24,4.09,4.09,0,0,1-1.23-.68,3.31,3.31,0,0,1-.85-1.08,3.06,3.06,0,0,1-.31-1.4,3.59,3.59,0,0,1,.12-.93q1.26-4.56,2.73-8.81t3-8.28a18.79,18.79,0,0,1-3.15-.25,10.22,10.22,0,0,1-2.79-.88,7.61,7.61,0,0,1-2.28-1.73,8.9,8.9,0,0,1-1.66-2.81c-.08-.35-.14-.67-.19-1a4.76,4.76,0,0,1-.08-.83q0-1.32.93-1.32a2,2,0,0,1,1.25.61,16,16,0,0,1,1.76,2c.94,0,1.87-.07,2.81-.09s1.93,0,3,0h2.86q1.08-2.77,2-5.36t1.8-5.05a26.67,26.67,0,0,0,.81-3.16,17.11,17.11,0,0,0,.29-3,9.59,9.59,0,0,0-.21-2.14A4.28,4.28,0,0,0,210.8,13a3.42,3.42,0,0,0-1.22-1.08,4,4,0,0,0-1.85-.39,8.6,8.6,0,0,0-2.08.3,15,15,0,0,0-2.61,1,28.07,28.07,0,0,0-3.11,1.76,42.76,42.76,0,0,0-3.66,2.7,5.1,5.1,0,0,1-1.27.81,2.77,2.77,0,0,1-1.05.24c-.16,0-.28-.27-.36-.8a13.17,13.17,0,0,1-.12-1.95,6.25,6.25,0,0,1,.73-3,10,10,0,0,1,2-2.58A16.36,16.36,0,0,1,199,7.89a22.31,22.31,0,0,1,3.28-1.64,20.84,20.84,0,0,1,3.36-1,14.65,14.65,0,0,1,3.07-.36,13.91,13.91,0,0,1,4,.57A9,9,0,0,1,216,7.25a8.79,8.79,0,0,1,2.29,3.25,12.33,12.33,0,0,1,.85,4.86,20.84,20.84,0,0,1-.31,3.28c-.21,1.3-.49,2.71-.85,4.25s-.78,3.19-1.27,4.93-1,3.51-1.57,5.32q3.07-.21,6.92-.42l7.73-.41q1.51-5,3.36-10.31t3.89-10.46a7.39,7.39,0,0,1,1.8-2.71,3.79,3.79,0,0,1,2.64-1,4.42,4.42,0,0,1,1.21.17,2.94,2.94,0,0,1,1,.56,2.43,2.43,0,0,1,.7.95,3.37,3.37,0,0,1,.25,1.36,15.91,15.91,0,0,1-.08,1.59,7.87,7.87,0,0,1-.48,2c-.46,1.23-1,2.55-1.46,3.95s-1,2.84-1.57,4.33-1.05,3-1.58,4.54-1,3.1-1.51,4.63l3.28-.23,2.12-.16.62,0,.52,0a4.77,4.77,0,0,1,1.44.18,2.05,2.05,0,0,1,.87.51,1.73,1.73,0,0,1,.43.77,4,4,0,0,1,.12,1,1.89,1.89,0,0,1-.27,1,2.14,2.14,0,0,1-.67.67,2.76,2.76,0,0,1-.85.36,5.56,5.56,0,0,1-.84.13l-1.19.14-.51.06-.19,0-.22,0-.63,0-1.37.12-2.1.21Z"
				id="path10"
			></path>
			<path
				class="a"
				d="M267.83,52.92a26.59,26.59,0,0,1-2.67,2.1,28.19,28.19,0,0,1-3.44,2.06A27.31,27.31,0,0,1,258,58.65a12.11,12.11,0,0,1-3.66.62,6.92,6.92,0,0,1-2.61-.43A4.25,4.25,0,0,1,250,57.63a4.55,4.55,0,0,1-.94-1.89,10,10,0,0,1-.29-2.47,26.73,26.73,0,0,1,.43-4.36c.29-1.67.65-3.39,1.06-5.17s.86-3.55,1.33-5.32.88-3.4,1.24-4.89a2.71,2.71,0,0,1,.83-1.33,5.08,5.08,0,0,1,1.42-.89,8,8,0,0,1,1.64-.51,8.14,8.14,0,0,1,1.54-.16,2.37,2.37,0,0,1,1.7.46,1.7,1.7,0,0,1,.45,1.24,8.83,8.83,0,0,1-.3,1.89c-.2.82-.45,1.76-.75,2.8s-.62,2.17-.95,3.37-.66,2.41-1,3.61-.54,2.38-.74,3.52a18.23,18.23,0,0,0-.3,3.09,6.1,6.1,0,0,0,.3,2.13,1.17,1.17,0,0,0,1.22.79,4.89,4.89,0,0,0,2.39-.74A21.18,21.18,0,0,0,262.94,51c.9-.7,1.77-1.43,2.63-2.19s1.61-1.4,2.26-1.94ZM254.5,22.25a4.84,4.84,0,0,1,.3-1.55,4.79,4.79,0,0,1,1-1.62,5.26,5.26,0,0,1,1.79-1.29,6.68,6.68,0,0,1,2.79-.52,7.74,7.74,0,0,1,2,.24,4.8,4.8,0,0,1,1.62.73,3.45,3.45,0,0,1,1.08,1.3,4.2,4.2,0,0,1,.41,1.91,6,6,0,0,1-.33,2,4.76,4.76,0,0,1-1,1.7,5.35,5.35,0,0,1-1.81,1.2,6.65,6.65,0,0,1-2.61.47,5.36,5.36,0,0,1-3.88-1.24A4.45,4.45,0,0,1,254.5,22.25Z"
				id="path12"
			></path>
			<path
				class="a"
				d="M277.89,54a23.44,23.44,0,0,0,5.49-.6,20,20,0,0,0,4.48-1.61,18.11,18.11,0,0,0,3.64-2.37,22.48,22.48,0,0,0,2.94-2.91l.33,6.84a16.52,16.52,0,0,1-2.31,2.25,18.15,18.15,0,0,1-3,1.91,18.45,18.45,0,0,1-3.39,1.31,13,13,0,0,1-3.5.49,2.85,2.85,0,0,1-.52-.06L281,59l-2.22-.4c-1-.17-2.28-.37-3.93-.61v.53a48.87,48.87,0,0,1-.91,9.86A31.63,31.63,0,0,1,271.5,76,14.84,14.84,0,0,1,268,80.78a6.2,6.2,0,0,1-4.08,1.7,4.64,4.64,0,0,1-2.84-.84,5.71,5.71,0,0,1-1.8-2.25,11.72,11.72,0,0,1-1-3.31,27,27,0,0,1-.28-4,11.29,11.29,0,0,1,.39-2.76,26.57,26.57,0,0,1,1-3.22c.44-1.13.93-2.27,1.48-3.43s1.11-2.3,1.68-3.39q2-3.81,4.63-7.87c.22-1.55.44-3.15.67-4.78s.52-3.21.86-4.74a32.1,32.1,0,0,1,1.32-4.36,12.86,12.86,0,0,1,2-3.57,9.37,9.37,0,0,1,3-2.42,9,9,0,0,1,4.18-.89,11.36,11.36,0,0,1,3.4.49,7.23,7.23,0,0,1,2.77,1.59,7.63,7.63,0,0,1,1.88,2.85,11.67,11.67,0,0,1,.69,4.28,12.89,12.89,0,0,1-.6,3.92,12.51,12.51,0,0,1-1.86,3.63,16.7,16.7,0,0,1-3.22,3.24,22.74,22.74,0,0,1-4.64,2.69ZM263.75,72.43a4.54,4.54,0,0,0,.1.77,5.31,5.31,0,0,0,.34,1.07,3.47,3.47,0,0,0,.63,1,1.26,1.26,0,0,0,1,.42,1,1,0,0,0,.83-.55,5.24,5.24,0,0,0,.54-1.48,14.56,14.56,0,0,0,.3-2.09c.06-.77.1-1.57.14-2.39s.07-1.61.08-2.38,0-1.47.07-2.09c.06-1.07.11-2,.14-2.73s.05-1.37.07-1.86,0-1,.06-1.41a19.71,19.71,0,0,0-1.1,2.29q-.54,1.29-1,2.7c-.31.93-.6,1.86-.86,2.8s-.48,1.8-.67,2.61-.34,1.5-.45,2.09A7.62,7.62,0,0,0,263.75,72.43ZM274.13,51a15.16,15.16,0,0,0,3.08-2,14.15,14.15,0,0,0,2.24-2.36A13.29,13.29,0,0,0,281,44a17.21,17.21,0,0,0,.95-2.75,8.91,8.91,0,0,0,.2-1.53,5,5,0,0,0-.18-1.66,3.09,3.09,0,0,0-.78-1.33,2.11,2.11,0,0,0-1.53-.55,3.22,3.22,0,0,0-1.94.61,5.38,5.38,0,0,0-1.45,1.66,10.1,10.1,0,0,0-1,2.48,25.42,25.42,0,0,0-.66,3.07c-.17,1.09-.29,2.23-.36,3.41S274.13,49.78,274.13,51Z"
				id="path14"
			></path>
			<path
				class="a"
				d="M290.24,47.82c1.11-1,2-1.75,2.71-2.39s1.29-1.22,1.79-1.74a19.59,19.59,0,0,0,1.36-1.6c.4-.54.89-1.17,1.44-1.91l2-2.7q1.2-1.59,3.1-4a10.52,10.52,0,0,1,.87-1,7.16,7.16,0,0,1,1.06-.91,5.92,5.92,0,0,1,1.28-.65,4.58,4.58,0,0,1,1.57-.25,6,6,0,0,1,2.2.31,2.73,2.73,0,0,1,1.14.76,1.85,1.85,0,0,1,.42.94,7.17,7.17,0,0,1,.06.85,2.94,2.94,0,0,1-.57,1.58,18.14,18.14,0,0,1-1.25,1.67c-.46.54-.89,1-1.3,1.48a3,3,0,0,0-.7,1,9.71,9.71,0,0,0,.13,1.68,12,12,0,0,0,.36,1.49c.15.49.3,1,.46,1.55s.31,1.18.46,1.9a22.72,22.72,0,0,1,.36,2.47c.09.94.14,2,.14,3.31a18.2,18.2,0,0,1,2.31-1.29l2.58-1.21c.89-.42,1.81-.88,2.76-1.39a24.29,24.29,0,0,0,2.85-1.83l0,6.68a28,28,0,0,1-4.28,2.68,41,41,0,0,1-5.11,2.21A39,39,0,0,1,305.11,59a26.8,26.8,0,0,1-5.18.55,15.45,15.45,0,0,1-3.28-.33,8.4,8.4,0,0,1-2.67-1,5.52,5.52,0,0,1-1.86-1.83,6.12,6.12,0,0,1-.87-2.75,6,6,0,0,1-.82.12l-.79,0q-.48,0-.9,0a1.49,1.49,0,0,1-.71-.22,1.33,1.33,0,0,1-.48-.63,3.35,3.35,0,0,1-.18-1.24,2.57,2.57,0,0,1,.36-1.32,5.36,5.36,0,0,1,.84-1.09,8.06,8.06,0,0,1,.95-.84C289.84,48.15,290.08,48,290.24,47.82Zm3.81,3.81a1.16,1.16,0,0,1,.79.45c.29.3.63.63,1,1a8.08,8.08,0,0,0,1.32,1,3.2,3.2,0,0,0,1.7.45,4.21,4.21,0,0,0,1.92-.39,3.22,3.22,0,0,0,1.21-1,4,4,0,0,0,.63-1.49,9.35,9.35,0,0,0,.17-1.78,13.23,13.23,0,0,0-.1-1.64q-.1-.83-.27-1.59c-.11-.51-.23-1-.36-1.43s-.24-.83-.34-1.15Z"
				id="path16"
			></path>
			<path
				class="a"
				d="M341.81,52.59c-1.91,1.11-3.61,2.09-5.1,2.92s-2.82,1.53-4,2.09a23.35,23.35,0,0,1-3.1,1.25,8.46,8.46,0,0,1-2.46.42,6.26,6.26,0,0,1-4-1.37,10.37,10.37,0,0,1-2.9-3.95,25.08,25.08,0,0,1-1.74-6.25,52.91,52.91,0,0,1-.58-8.27q0-1.78.15-3.81c.1-1.36.24-2.7.41-4-.59-.08-1.05-.15-1.38-.22l-1.05-.21c-.37-.07-.83-.15-1.4-.23s-1.39-.18-2.46-.29a2.74,2.74,0,0,1-1.1-.35,1.62,1.62,0,0,1-.57-.6,1.77,1.77,0,0,1-.21-.71c0-.25,0-.46,0-.64a1,1,0,0,1,.58-.91,4.85,4.85,0,0,1,1.49-.46,13.57,13.57,0,0,1,2-.17c.73,0,1.42,0,2.09,0l1.79,0a6.08,6.08,0,0,0,1.09,0,68.53,68.53,0,0,1,2-7.8,44.18,44.18,0,0,1,2.78-6.72,18.55,18.55,0,0,1,3.35-4.71,5.48,5.48,0,0,1,3.82-1.77,4.11,4.11,0,0,1,2.34.71,6.38,6.38,0,0,1,1.81,1.91,10.08,10.08,0,0,1,1.15,2.79,13.93,13.93,0,0,1,.4,3.33,12.3,12.3,0,0,1-.42,3.08A24.57,24.57,0,0,1,335.49,21a34.75,34.75,0,0,1-1.69,3.41c-.64,1.15-1.33,2.3-2,3.43.18,0,.48,0,.89.05l1.45,0,1.78.08,1.84.07,1.67.06,1.29.06a1,1,0,0,1,.86.6,3.29,3.29,0,0,1,.27,1.43,2.44,2.44,0,0,1-.6,1.7,1.72,1.72,0,0,1-1.31.65H328.45c-.58.8-1.16,1.58-1.75,2.35s-1.13,1.45-1.62,2.07c-.08,1.23-.15,2.44-.21,3.64,0,.51,0,1-.06,1.59l-.06,1.63c0,.54,0,1-.05,1.55s0,1,0,1.37a10.54,10.54,0,0,0,.3,2.72,4.87,4.87,0,0,0,.86,1.8,3.25,3.25,0,0,0,1.39,1,5.32,5.32,0,0,0,1.83.31,5.38,5.38,0,0,0,1.57-.3,17.21,17.21,0,0,0,2.06-.82c.74-.35,1.53-.76,2.35-1.24s1.65-1,2.45-1.56,1.58-1.17,2.31-1.79a21.69,21.69,0,0,0,2-1.93Zm-9.54-37.76a6.89,6.89,0,0,0,0-.74,2.83,2.83,0,0,0-.19-.76,1.49,1.49,0,0,0-.47-.59,1.4,1.4,0,0,0-.88-.24c-.51,0-1,.46-1.56,1.37a19.52,19.52,0,0,0-1.52,3.51q-.74,2.13-1.37,4.69t-1.18,5l.89.1.93.1c.59-1,1.21-2.11,1.86-3.29s1.23-2.35,1.75-3.49.94-2.21,1.28-3.21A7.91,7.91,0,0,0,332.27,14.83Z"
				id="path18"
			></path>
			<path
				class="a"
				d="M351,59.27a11.27,11.27,0,0,1-4.91-1,10.2,10.2,0,0,1-3.5-2.73,11.74,11.74,0,0,1-2.11-4,16.06,16.06,0,0,1-.7-4.73,20.27,20.27,0,0,1,.33-3.53,20.69,20.69,0,0,1,1-3.66,19,19,0,0,1,1.69-3.41,13.24,13.24,0,0,1,2.37-2.87,10.84,10.84,0,0,1,3-2,9.25,9.25,0,0,1,3.74-.74,8.76,8.76,0,0,1,3.11.54,7.66,7.66,0,0,1,2.49,1.51,6.89,6.89,0,0,1,1.65,2.34,7.58,7.58,0,0,1,.6,3.07,8.41,8.41,0,0,1-.91,3.7,13.65,13.65,0,0,1-2.52,3.49,17.73,17.73,0,0,1-3.84,2.92,19.92,19.92,0,0,1-4.81,2,8.89,8.89,0,0,0,.88,1.34,4,4,0,0,0,.88.84,2.92,2.92,0,0,0,.94.42,4.41,4.41,0,0,0,1.06.12,11,11,0,0,0,3.77-.72,24.46,24.46,0,0,0,3.86-1.79,30.25,30.25,0,0,0,3.55-2.34,30.48,30.48,0,0,0,2.84-2.4l3.84,4a39.67,39.67,0,0,1-5.57,4.8c-.86.6-1.78,1.18-2.76,1.76a23.62,23.62,0,0,1-3.11,1.53,21,21,0,0,1-3.37,1.08A15.54,15.54,0,0,1,351,59.27Zm-4-14a5.83,5.83,0,0,0,2.34-.55,10.5,10.5,0,0,0,2.36-1.42,9.27,9.27,0,0,0,1.83-1.88,3.31,3.31,0,0,0,.75-2,4.37,4.37,0,0,0-.49-2.2,1.42,1.42,0,0,0-1.21-.87,4.53,4.53,0,0,0-3.71,1.72,6.24,6.24,0,0,0-1,1.73,11.41,11.41,0,0,0-.57,1.95,16.69,16.69,0,0,0-.25,1.91C347,44.29,347,44.81,347,45.25Z"
				id="path20"
			></path>
			<path
				class="a"
				d="M364.36,53q0-1.32.15-3.06c.1-1.16.24-2.39.4-3.68s.37-2.61.6-4,.47-2.62.73-3.83.52-2.33.78-3.34a21.57,21.57,0,0,1,.77-2.51,6.09,6.09,0,0,1,.48-1,2,2,0,0,1,.55-.61,1.82,1.82,0,0,1,.78-.3,9.89,9.89,0,0,1,2.35,0,.93.93,0,0,1,.64.36,1.59,1.59,0,0,1,.26.82c0,.36,0,.84,0,1.46V36q0,1.56.06,3.09h.33l1.34-2.67a17.59,17.59,0,0,1,1.73-2.76,10.16,10.16,0,0,1,2.24-2.16,4.89,4.89,0,0,1,2.89-.88,3.24,3.24,0,0,1,1.11.19,2.84,2.84,0,0,1,.94.55,2.6,2.6,0,0,1,.64.88,2.8,2.8,0,0,1,.24,1.18,9.37,9.37,0,0,1-.15,1.42c-.1.6-.21,1.24-.33,1.91s-.23,1.31-.33,1.93a10.32,10.32,0,0,0-.15,1.57,6.46,6.46,0,0,0,.21,1.79,3.33,3.33,0,0,0,.55,1.15,1.94,1.94,0,0,0,.78.61,2.34,2.34,0,0,0,.91.18,7.14,7.14,0,0,0,2.77-.6,18,18,0,0,0,2.63-1.34,24.79,24.79,0,0,0,2.74-2l-.45,7c-.51.34-1.1.72-1.75,1.13a20.24,20.24,0,0,1-2.11,1.18,15.6,15.6,0,0,1-2.32.93,8.31,8.31,0,0,1-2.47.37,6.36,6.36,0,0,1-3.6-.91,6.51,6.51,0,0,1-2.18-2.39,11.91,11.91,0,0,1-1.2-3.31c-.25-1.22-.46-2.46-.62-3.71h-.48l-5.34,14.88a19.3,19.3,0,0,1-.79,1.93,6.52,6.52,0,0,1-.76,1.24,2.35,2.35,0,0,1-.84.67,2.38,2.38,0,0,1-1,.19,3.37,3.37,0,0,1-2-.52,3.44,3.44,0,0,1-1.15-1.4,6.75,6.75,0,0,1-.53-2A19.37,19.37,0,0,1,364.36,53Z"
				id="path22"
			></path>
		</g>
		<g id="g4554">
			<path
				class="b"
				d="M69.88,38.18S10.53,3.74,5.4,25.16s-10.9,37.7,4.91,40.71S69.88,38.18,69.88,38.18Z"
				id="path24"
			></path>
			<path
				class="c"
				d="M59.62,33c17-8.8,50.68-23.88,54.53-7.91,5.18,21.49,11,37.84-4.79,40.91-11.08,2.15-36-12.38-49.82-21.2C59.52,34.36,59.64,43.29,59.62,33Z"
				id="path26"
			></path>
		</g>
	</g>
</svg>
