<script>
	import { faHeart } from '@fortawesome/free-solid-svg-icons'
	import { Icon } from 'jhipster-svelte-library'
</script>

<footer
	class="flex flex-col justify-between items-center sm:flex-row bg-gray-200 dark:bg-gray-800 p-3"
>
	<div class="text-sm">
		<p data-testid="copyrightMsg">
			Copyright &copy; 2023 JHipster. All Rights Reserved
		</p>
	</div>
	<div class="text-base mt-1">
		<p>
			Made with
			<Icon classes="text-red-700" icon="{faHeart}" />
			by
			<a
				href="https://twitter.com/vishal423"
				target="tab"
				class="text-yellow-800 dark:text-yellow-300">@vishal423</a
			>
		</p>
	</div>
</footer>
