<script>
	import { Alert } from 'jhipster-svelte-library'
	import { Page } from 'jhipster-svelte-library/page'

	import accountService from '$lib/account/account-service'
	import ForgotPasswordForm from '$lib/account/forgot-password-form.svelte'

	let error
	let email
	let passwordReset = false

	function resetPassword() {
		error = undefined
		passwordReset = false
		accountService
			.initiateResetAccountPassword(email)
			.then(() => (passwordReset = true))
			.catch(err => (error = err))
	}
</script>

<svelte:head>
	<title>Reset your password</title>
	<meta name="Description" content="Reset your password - Init" />
</svelte:head>

<Page testId="forgotPwd">
	<span slot="header">Reset your password</span>
	<svelte:fragment slot="alerts">
		<Alert data-testid="successMsg" show="{passwordReset}" closeable="{false}"
			>Check your email for details on how to reset your password.</Alert
		>
		<Alert
			data-testid="warningMsg"
			contextualColor="warning"
			show="{!passwordReset}"
			closeable="{false}"
			>Enter your user account's verified email address.</Alert
		>
	</svelte:fragment>
	{#if !passwordReset}
		<ForgotPasswordForm bind:email on:click="{resetPassword}" />
	{/if}
</Page>
