<script>
	import { createEventDispatcher } from 'svelte'
	import { faSort } from '@fortawesome/free-solid-svg-icons/faSort'
	import { faSortDown } from '@fortawesome/free-solid-svg-icons/faSortDown'
	import { faSortUp } from '@fortawesome/free-solid-svg-icons/faSortUp'

	import Icon from '../Icon.svelte'

	export let sortPredicate = ''
	export let active = false
	let ascending = true
	const dispatch = createEventDispatcher()

	function sortByPredicate() {
		active = true
		ascending = !ascending
		dispatch('sortbypredicate', {
			sortPredicate,
			sortOrder: ascending ? 'asc' : 'desc',
		})
	}
</script>

<span
	on:click="{sortByPredicate}"
	title="{active
		? ascending
			? 'Ascending order'
			: 'Descending order'
		: 'Click to sort records'}"
>
	<Icon
		classes="cursor-pointer"
		icon="{active ? (ascending ? faSortUp : faSortDown) : faSort}"
	/>
</span>
