<script>
	export let testId = ''
	export let classes = ''
</script>

<table
	data-test="{testId}Table"
	class="table-auto w-full mt-4 text-left {classes}"
	{...$$restProps}
>
	<slot name="head" />
	<slot />
</table>
